be/holidate/knowledge_base/holidate_training_ai_agent_n8n.json
{
  "name": "holidate_training_ai_agent_n8n",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "holidate-training-ai-agent-n8n-index",
          "mode": "list",
          "cachedResultName": "holidate-training-ai-agent-n8n-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        -288
      ],
      "id": "d2c3e2e9-d551-4dae-888c-2e37a28c7698",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "MhJjsFjO00aj8Zen",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        -64
      ],
      "id": "6a4f1f04-cda9-4689-9ece-a1d942528972",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DM5TLJVcvl7xyaex",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        496,
        -80
      ],
      "id": "cc0507da-8d9e-4169-847a-90f4f88ac2b0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "url": "https://s3.ap-southeast-1.amazonaws.com/holidate-storage/?list-type=2&prefix=knowledge_base/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        -288
      ],
      "id": "4fa37a71-3999-4700-8677-74d797ef5e72",
      "name": "Get KB data from S3",
      "credentials": {
        "aws": {
          "id": "HlsXaRvTuWFUrXHC",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary.data) {\n    item.binary.data.mimeType = 'text/plain'; // Lừa n8n đây là file text\n    item.binary.data.fileExtension = 'md';    // Vẫn giữ đuôi md hoặc txt đều được\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -288
      ],
      "id": "8a1b2167-b9cd-425b-ba34-c951261c36d4",
      "name": "Convert Mark Down files to Text files"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -576,
        -288
      ],
      "id": "6c16ab8c-44ee-426a-9a83-177b6c8168bb",
      "name": "Convert from XML to JSON"
    },
    {
      "parameters": {
        "fieldToSplitOut": "ListBucketResult.Contents",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -336,
        -288
      ],
      "id": "1924de76-3f80-4d1a-b663-f91244c45d68",
      "name": "Split"
    },
    {
      "parameters": {
        "bucketName": "holidate-storage",
        "fileKey": "={{ $json.Key }}"
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        -112,
        -288
      ],
      "id": "48fe9316-9e8d-45ba-8b84-fa2dc24c8a5a",
      "name": "Download files from S3",
      "credentials": {
        "aws": {
          "id": "HlsXaRvTuWFUrXHC",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        -288
      ],
      "id": "d522c26e-0145-4c58-a50b-32bbd050d1af",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get KB data from S3": {
      "main": [
        [
          {
            "node": "Convert from XML to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Mark Down files to Text files": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert from XML to JSON": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Download files from S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download files from S3": {
      "main": [
        [
          {
            "node": "Convert Mark Down files to Text files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get KB data from S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ccb30622-13e9-4825-ae40-63cc04a17940",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c57b70723f54864769ece4aeb1aa72368bc75704a74d49344e0597a9701afb0d"
  },
  "id": "DxyILRRk29PMCTiC",
  "tags": []
}